/* css写法 */
.data-loading{
    opacity: 0.6;
    cursor: no-drop;
    pointer-events: none;
}
.data-loading::before{
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 50%;
    vertical-align: -10%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 300%);
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    form {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

/*  less写法
    结构写法：<a data-loading={loading} onClick={this.onClick}>点我</a>
    
    a {
      &[data-loading='true'] {
        opacity: 0.6;
        cursor: default;
        pointer-events: none;
        &::before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          margin-right: 0.5em;
          color: currentColor;
          border: 1px solid currentColor;
          border-radius: 50%;
          vertical-align: -10%;
          clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 30%);
          animation: rotate 1s linear infinite;
          @keyframes rotate {
            from {
              transform: rotateZ(0deg);
            }
            to {
              transform: rotateZ(360deg);
            }
          }
        }
      }
    }
 */